
body {
    height: 100%;
    overflow: hidden;
}

.side-bar-left {
    left: 0;
}

    .side-bar-left ul li button img {
        padding-right: 15px;
    }

.side-bar-right {
    right: 0;
    text-align: right;
}

    .side-bar-right ul li button img {
        padding-left: 15px;
    }


.side-bar {
    position: fixed;
    top: 0;
    height: 100%;
    padding: 40px 30px 0px 20px;
    background-color: brown;
}

    .side-bar ul {
        list-style: none;
    }

        .side-bar ul li {
            padding: 10px 0px 10px 0px;
            border-radius: 5px;
        }

            .side-bar ul li:hover {
                background-color: rosybrown;
            }

            .side-bar ul li button {
                background: none;
                color: white;
                border: none;
            }
